.card {
  color: $color-3;
  flex: 1 0 25%;
  width: 350px;
  height: 800px;
  background: #ffffff;
  border-radius: 15px;
  margin: 10px;
  padding: 26px 15px 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.445);

  &:hover {
    box-shadow: 1px 2px 15px 4px rgba(255, 255, 255, 0.473);
  }

  &::after {
    content: "";
    position: absolute;
    height: 90px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: 0 0 30px 30px;
  }

  img {
    width: 100%;
    height: 256px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 8px 1px rgba(255, 255, 255, 0.1), 0 16px 1px rgba(255, 255, 255, 0.05);
  }
  h2 {
    margin: 24px 0 0px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  h5 {
    color: $color-3;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 1px;
  }
  h4 {
    font-size: 1.2rem;
    margin-top: -4px;
    letter-spacing: 1px;

    span {
      color: rgba(220, 8, 8, 0.721);
    }
  }
  ul {
    margin: 6px 0;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    background: #212040;
    border-radius: 18px;
    padding: 0px 7px;
    margin: 0 4px 4px 0;
    font-size: 1.1rem;

    &:first-child {
      margin-left: -4px;
    }
  }
  h3 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    margin-top: 10px;
  }
  p {
    color: $color-3;
    font-size: 1.2rem;
    line-height: 20px;
    height: 100px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .bio {
    position: absolute;
    bottom: 80px;
    font-weight: 200;

    h3 {
      font-size: 21px;
      font-weight: 400;
    }
  }

  .btn {
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 18px;
    left: 48%;
    transform: translateX(-50%);
    padding: 14px 0;
    width: 180px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.2s;
    z-index: 50;
    color: black;
    user-select: none;
    font-size: 15px;

    &:hover {
      background: rgba(255, 255, 255, 0.721);
      color: rgb(208, 7, 7);
      box-shadow: 0 0 10px white;
      font-size: 18px;
      border: 2px solid rgb(208, 7, 7);
    }
  }

  .btn2 {
    background: rgb(208, 7, 7);
    position: absolute;
    bottom: 18px;
    left: 48%;
    transform: translateX(-50%);
    padding: 14px 0;
    width: 180px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid rgb(208, 7, 7);
    cursor: pointer;
    transition: 0.2s;
    z-index: 50;
    color: white;
    user-select: none;
    font-size: 15px;

    &:hover {
      background: rgb(255, 255, 255);
      color: rgb(208, 7, 7);
      box-shadow: 0 0 10px white;
      font-size: 17px;
      border: 2px solid rgb(208, 7, 7);
    }
  }
}
