.header {
  h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    letter-spacing: 6px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-shadow: 0 0 20px rgb(160, 160, 160);
  }
  img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    margin: 5px;
    font-size: 15px;
   

    ul {
      display: flex;
      justify-content: center;
    
      a {
        text-decoration: none;
        color: $white;
        border-radius: 10px;
        padding: 10px;
        

        &:visited {
          text-decoration: none;
          color: $white;
        }
        &:hover {
          background: rgb(208, 7, 7);
        }
      }
      a.nav-active {
        background: $white;

        &:hover {
          background: $black;
        }
      }
    }
  }
}
